// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//multiselect
$color_1: #fff;
$color_2: #ccc;
$color_3: #aaa;
$color_4: #212529;
$color_5: #6c757d;
$color_6: inherit;
$background-color_1: transparent;
$background-color_2: var(--bs-primary);
$background-color_3: #fff;
$background-color_4: inherit;
$border-color_1: var(--bs-primary);
$vc_main: #0A457E;
